.character {
  position: relative;
  display: flex;

  max-width: 1220px;
  margin: auto;

  &__img {
    height: 570px;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  &__detail {
    background-color: $third-color;
    width: 100%;
    padding: 14px 40px;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }

  &__name {
    color: $text-color-2;
    font-size: 27px;
    font-weight: 800;
    line-height: 110%;
  }

  &__status {
    position: relative;
    padding-left: 16px;

    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 40%;

      border-radius: 50px;
      width: 9px;
      height: 9px;
      background-color: $uknown-color;
    }

    &--alive {
      &::before {
        background-color: $alive-color;
      }
    }

    &--dead {
      &::before {
        background-color: $dead-color;
      }
    }
  }

  &__title {
    color: $text-color-3;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
  }

  &__text {
    color: $text-color-2;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
  }

  &__section-1, &__section-2 {
    margin-bottom: 14px;
  }

  &__section-3 {
    margin-bottom: 33px;
  }
}
