.menu {
  position: fixed;
  right: 50px;
  bottom: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;


  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 56px;
    width: 56px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    cursor: pointer;

    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
    transition: background-color $transition-hover, transform $transition-move;

    &--small {
      height: 40px;
      width: 40px;
    }

    &-1 {
      margin-bottom: 16px;
      transform: translateY(130px);

      &--active {
        transform: translateY(0);
      }
    }

    &-2 {
      margin-bottom: 24px;
      transform: translateY(70px);

      &--active {
        transform: translateY(0);
      }
    }

    &-3 {
      z-index: 1;
    }

    &:hover {
      background-color: $hover-color;
    }
  }
}
