.field-list {
  position: relative;
  z-index: 1;

  &__toggle {
    position: relative;
    width: 200px;
    height: 100%;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 4px 4px 0 0;
    z-index: 1;
  }

  &__title {
    color: $text-color-1;
    font-weight: 400;
    line-height: 48px;
    font-size: 16px;
  }

  &__box {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;

    overflow: hidden;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform $transition-scale;

    &--active {
      transform: scaleY(1);
      transition: transform $transition-hover;
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;

    padding: 8px 5px 5px;
    border-top: 2px solid #000;
    border-radius: 0 0 4px 4px;

    background-color: #fff;
    transform: translateY(-100%);
    transition: transform $transition-move;

    &--active {
      transform: translateY(0);
    }
  }
}