.history-modal {
  z-index: 1;

  &__background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  
    background-color: $modal-background;
    transform: translateX(100%);
  
    &--active {
      transform: translateX(0);
    }
  }

  &__window {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(105%, -50%);

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 16px;
  
    width: 419px;
    height: 571px;
    padding: 16px;
  
    border-radius: $radius 0px 0px $radius;
    background-color: #FFF;
    transition: transform $transition-move;
  
    &--active {
      transform: translate(0, -50%);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    color: $text-color-1;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.25px;
  }

  &__pagination {
    display: flex;
    gap: 5px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border: none;
    background-color: inherit;
    border-radius: 50px;
    transition: background-color $transition-hover;

    &:hover {
      background-color: rgba(80, 80, 80, 0.30);
    }
  }

  &__sub-title {
    color: rgba(0, 0, 0, 0.60);

    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.1px;
  }

  &__text {
    color: rgba(0, 0, 0, 0.87);

    line-height: 22px;
    letter-spacing: 0.1px;
  }

  &__close {
    position: absolute;
    left: 8px;
    bottom: 16px;
  }
}