$color-1: #fff;
$color-2: #f5f5f5;
$color-3: #d9d9d9;
$color-4: #9e9e9e;
$color-5: #3c3e44;
$color-6: #272b33;
$color-7: #202329;
$color-8: #000;

$main-color: $color-6;
$secondary-color: $color-2;
$third-color: $color-5;
$uknown-color: $color-4;
$footer-color: $color-7;
$hover-color: $color-3;

$text-color-1: $color-6;
$text-color-2: $color-2;
$text-color-3: $color-4;
$text-color-4: $color-7;

$alive-color: #5C4;
$dead-color: #D63D2E;
$error-color: #f00;

$modal-background: rgba(39, 43, 51, 0.80);

$radius: 9px;

$transition-hover: 200ms;
$transition-move: 400ms;
$transition-scale: 600ms;
