.filter {
  &__background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $modal-background;

    z-index: 1;
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: space-between;
  
    margin: 0 auto 20px;
    max-width: 1227px;

    &--active {
      z-index: 1;
    }
  }

  &__form {
    display: flex;
    gap: 30px;
  }
}
