.character-list {
  display: grid;
  grid-template-columns: 600px 600px;
  gap: 27px;

  width: 1227px;
  margin: auto;
  margin-bottom: 22px;
}

.character-link {
  text-decoration: none;
}
